/* design colors
#e079ff 
#8121f5
#92aaf3
#36213e
#554971
*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #554971;
    border-bottom: 10px solid #36213e;
    padding: 10px 20px;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #92aaf3;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

nav {
    text-align: right;
}

#button {
    display: inline-block;
    background-color: #92aaf3;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0px;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.05);
}