.skill {
    display: grid;
    grid-template-columns: 90px 370px;
    grid-template-rows: 45px 45px ;
    margin: 10px;
    
}

.skill img {
    grid-column: 1/1;
    grid-row: 1 / span 2;
    place-self: center;
}

.skill .title {
    font-size: 23px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 24px;    
}

.skill .progressBar {
    box-sizing: border-box;
    height: 40px;
    width: 370px;
    border: 4px solid #000;
    background-color: #fff;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 20px;
}

.progressBar>.progress {
    box-sizing: border-box;
    height: 32px;
    background-color: #8121f5;
}

#skillHTML {
    width: 80%;
}

#skillCSS {
    width: 55%;
}

#skillJS {
    width: 60%;
}

#skillReact {
    width: 20%;
}

#skillRest {
    width: 30%;
}

#skillTDD {
    width: 0%;
}

#skillNode {
    width: 20%;
}

#skillUX {
    width: 20%;
}
