.skills {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 680px;
    background-color: #554971;
    border-bottom: 10px solid #36213e;
    align-items: center;
    padding-top: 50px;
}

.skills .wrapper {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1080px;
    height: 480px;
    margin-top: 40px;
}